// <480px


.header {

    z-index: 5;
    position: block;

    color: whitesmoke;
    background-image: linear-gradient(45deg, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.9));
    text-align: center;

    &__tittle {
        font-family: "Audiowide", sans-serif;
        font-size: 0.9rem;
        transform: translateY(-200px);
        animation: handleShowTittle 1s forwards;

    }

    &__span {
        color: red;
    }

    @keyframes handleShowTittle {
        0% {
            transform: translateY(-200px);
        }

        100% {
            transform: translateY(0);
        }

    }


}

.headerShow {
    position: fixed;
    background-image: linear-gradient(45deg, rgba(0, 0, 0, .5), rgba(0, 0, 0, 0.6));
    top: 0;
    left: 0;
    width: 100%;

}

.hero {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5)),
        url("../img/background.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
    width: 100%;
    height: 80vh;
    z-index: 2;
    overflow: hidden;


    &__info {
        position: relative;
        padding: .2em;
        width: 100%;
    }

    &__text {
        z-index: 6;
        opacity: 0;
        color: whitesmoke;
        font-size: .6rem;
        animation: handleShowOpacity 1s 1s ease-out forwards;

        .fa-phone {
            position: absolute;
            top: 15px;
            right: 85px;
            font-size: .4rem;


        }
    }

    @keyframes handleShowOpacity {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }

    }

    &__tele {
        z-index: 6;
        opacity: 0;
        position: absolute;
        display: block;
        font-family: "Audiowide", sans-serif;
        font-size: .6rem;
        text-decoration: none;
        color: whitesmoke;


        &--first {
            top: 5px;
            right: 10px;
            animation: handleShowOpacity 1s 1.5s ease-out forwards;
        }

        &--second {
            top: 20px;
            right: 10px;
            animation: handleShowOpacity 1s 2s ease-out forwards;
        }
    }



    &__img {
        opacity: 0.5;
        width: 150px;
        height: 125px;


    }


    @keyframes handleShowOpacityImg {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 0.5;
        }

    }



}



.info {

    &__icon {
        font-size: 1rem;
        padding: .5em 0;
    }

    &__cards {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100vw;
    }

    &__card {
        transform: translateY(200px);
        color: whitesmoke;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        width: 200px;
        border-radius: 8px;
        padding: .5em 1em;
        animation: handleFade 2s ease-in forwards;
    }

    &__header {
        font-size: .7rem;
        color: white;
    }
}

.info__card:nth-child(1) {


    animation: handleFade 1s ease-out forwards;
    animation-delay: 2.5s;
}

.info__card:nth-child(2) {

    animation: handleFade 1s ease-out forwards;
    animation-delay: 3s;

}

.info__card:nth-child(3) {

    animation: handleFade 1s ease-out forwards;
    animation-delay: 3.5s;

}


@keyframes handleFade {
    0% {
        transform: translateY(200px);


    }

    100% {
        transform: translateY(0);

    }
}



@keyframes fadeIn {
    0% {
        opacity: 0;


    }

    100% {
        opacity: 1;

    }
}


.review {
    // height: 10vh;
    padding: 0.5em 1em;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;

    &__text {
        font-size: .8rem;
        font-weight: bold;
        margin-left: 2em;

    }

    &__tittle {
        text-align: center;
        font-family: "Audiowide", sans-serif;
        font-size: .6rem;
        margin-right: 1em;
    }

    &__box {
        position: relative;
    }

    &__box,
    &__info {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        font-size: 1.2rem;
    }

    a {
        margin-right: 1em;

        img {
            position: absolute;
            top: -12px;
            left: -20px;
            width: 45px;
            height: 40px;
        }
    }

    &__info {
        margin-right: 1.5em;

    }

    &__arrow {
        font-size: .6rem;
    }

}


.about {
    &__title {
        font-family: "Audiowide", sans-serif;
        font-size: 1.2rem;
        padding: .3em .5em;
        border-bottom: 1px solid white;
    }

    &__box {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
    }

    &__img {
        width: 250px;
        margin-top: .5em;
        border-radius: 8px;
        box-shadow: 5px 5px 10px rgba($color: #ffffff2e, $alpha: 0.2);
    }

    &__list {
        list-style: none;
        padding: .5em 0;

        &--item {
            opacity: 0;
            font-size: .8rem;
            margin-bottom: .5em;


        }

        .active {
            animation: fadeIn 1s ease-out forwards;

        }

        &--item:nth-child(2) {
            animation-delay: .5s;
        }

        &--item:nth-child(3) {
            animation-delay: 1s;
        }

        &--item:nth-child(4) {
            animation-delay: 1.5s;
        }

        &--item:nth-child(5) {
            animation-delay: 2s;
        }
    }

}


.logo {
    background-color: black;
    height: 50px;


    &__box {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        overflow: hidden;
    }

    &__img {
        width: 50px;
        height: 50px;

        &--bmw {
            height: 55px;
        }

        &--toyota {
            height: 45px;
        }

        &--nissan {
            height: 35px;
        }


    }
}


.services {
    background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5)),
        url("../img/background.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

    &__boxes {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: .5em 1em;
    }
}

.service {
    &__box {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        background: rgba(255, 255, 255, 0.1);
        text-align: center;
        border-radius: 10px;
        padding: 1em .5em;

        transition: outline, box-shadow 1s;
        margin: 1em 0 .5em 0;

        &:hover {
            box-shadow: 10px 10px 30px rgba(255, 255, 255, 0.3);

        }
    }

    &__tittle {
        font-size: 1rem;
        font-family: "Audiowide", sans-serif;
        text-transform: uppercase;
        color: grey;
        border-bottom: 1px solid whitesmoke;
        margin-bottom: 2em;
        padding: .5em 0;
    }

    &__text {
        font-size: .8rem;
        padding: .5em;
    }


}

.opinions {
    background-color: rgba(0, 0, 0);
    color: whitesmoke;
    padding: 1em 0;
    border-top: 1px solid whitesmoke;

    &__box {

        padding: .5em 1em;

    }
}

.opinion {

    &__box {
        margin-top: .5em;
        position: relative;
        border-top: 1px solid wheat;
        border-bottom: 1px solid wheat;
        height: 110px;


    }

    &__name {
        background-color: rgba(0, 0, 0);
        z-index: 2;
        position: absolute;
        top: -15px;
        left: 10px;
        font-size: .8rem;
        padding: .5em 0;
        text-align: center;

    }

    &__text {
        text-align: center;
        font-size: .7rem;
        padding: 1em;
    }

    &__stars {
        position: absolute;
        background-color: rgba(0, 0, 0);
        top: -15px;
        left: 180px;
        color: goldenrod;
        text-align: center;
        font-size: .8rem;
        padding: .5em 0;
    }


}

.contact {

    &__box {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

    }

    &__telephone {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    &__privacy {
        text-align: center;
        font-size: .5rem;
        padding: 1em 2em;

        &--link {
            font-weight: bold;
            color: whitesmoke;
            text-decoration: none;
        }
    }


    &__title {
        font-family: "Audiowide", sans-serif;
        font-size: 1.3rem;
        padding: .5em 0;

    }

    &__text {
        font-size: 1rem;
        padding: .2em 0;

        &--tel {
            font-weight: bold;
            color: whitesmoke;
            text-decoration: none;
        }
    }

    &__map {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 1em 0;

        &-frame {
            width: 80vw;
            height: 50vh;
            border-radius: 8px;
        }
    }

    &__details {
        text-align: center;
        padding: 1em 0;
        border-top: 1px solid whitesmoke;
    }

}

.footer {
    background-color: black;

    &__text {
        color: whitesmoke;
        text-align: center;
        font-size: 1rem;
        padding: .3em 0;
    }

    &__credits {
        display: block;
        color: whitesmoke;
        font-size: .5rem;
        text-decoration: none;
        padding: .2em;

    }
}






//--390--//


@media (min-width: 390px) {

    .header {
        &__tittle {
            font-size: 1rem;
        }

    }

    .hero {
        

        &__info {
            padding: .4em;

        }

        &__text {
            font-size: .9rem;

        }

        &__img {
            width: 250px;
            height: 200px;

        }

        .fa-phone {
            font-size: 0.7rem;
        }



    }

    .info {


        &__icon {
            font-size: 1.2rem;
        }





        &__header {
            font-size: 0.8rem;

        }
    }

    .review {
        &__tittle {
            font-size: 0.9rem;
        }

        &__text {
            margin-left: 2em;
            font-size: 1rem;
        }

        a {
            margin-right: 1em;

            img {
                top: -15px;
                left: -18px;
                width: 55px;
                height: 50px;
            }
        }
    }


    .about {
        &__title {
            font-size: 1.2rem;
        }

        &__img {
            width: 300px;
        }



        &__list {


            &--item {
                padding: .3em 0;
                font-size: .8rem;
            }
        }

        i {
            padding: 0 .5em;
        }


    }


    .opinion {

        &__name {
            top: -17px;
            left: 10px;
            font-size: .9rem;
        }

        &__text {
            font-size: .8rem;
        }

        &__stars {
            top: -17px;
            left: 220px;
            font-size: .9rem;
        }
    }
}




//--430--//

@media (min-width: 430px) {

 

    .about {

        &__img {
            width: 350px;
        }



        &__list {

            &--item {

                font-size: 1rem;
            }
        }


    }

    .review {
        &__info {
            margin-right: 1.5em;

        }

        &__arrow {
            font-size: .7rem;
        }
    }



    .service {


        &__tittle {
            font-size: 1.2rem;

        }

        &__text {
            font-size: 1rem;

        }
    }

    .opinion {


        &__stars {
            top: -17px;
            left: 260px;
        }
    }

    .contact {
        &__privacy {

            font-size: .7rem;

        }
    }

}