// @media (min-width: 1200px) {
//     /* Stylizacje dla większych laptopów i monitorów desktopowych */
// }



@media (min-width: 1200px) {

    .header {
        &__tittle {
            font-size: 2rem;
        }

        &__text {
            font-size: 1.6rem;
        }
    }

    .hero {
        height: 95vh;
        background-attachment: fixed;
     

    }

    .review {


        &__text {
            margin-left: 3em;
        }

        &__tittle {
            font-size: 2rem;
        }

        a {


            img {
                top: -25px;
                left: -25px;
                width: 120px;
                height: 90px;
            }
        }



        &__text {
            font-size: 2rem;
        }

        &__info {
            margin-right: 3em;

        }
    }

    .info {

        &__icon {
            font-size: 3rem;

        }



        &__header {
            font-size: 2rem;

        }

    }


    .about {

        &__box {
            padding: .5em 1em;
            display: flex;
            justify-content: space-around;
            align-items: center;
            width: 100%;
        }

        &__title {

            font-size: 2.5rem;


        }

        &__box {
            padding: 1em 1em;



        }

        &__img {
            width: 650px;
        }

        &__list {


            &--item {
                font-size: 1.6rem;
            }
        }
    }



    .logo {


        &__img {
            width: 100px;
            height: 100px;

            &--toyota {
                height: 100px;
            }

            &--nissan {
                width: 130px;
                height: 85px;
            }


        }
    }

    .opinion {


        &__name {
            top: -21px;
            left: 15px;
            font-size: 1.4rem;
        }

        &__text {
            margin: .5em auto;
            font-size: 1.2rem;
        }

        &__stars {
            top: -26px;
            left: 390px;
            font-size: 1.4rem;
        }
    }

    .contact {


        &__title {
            font-size: 2rem;

        }

        &__text {
            font-size: 1.6rem;

        }

        &__map {


            &-frame {
                width: 60vw;
                height: 60vh;
            }
        }

    }

}