 // @media (min-width: 480px) {
 //     /* Stylizacje dla telefonów o większych ekranach */
 // }
 // @media (min-width: 576px) {
 //     /* Stylizacje dla większych telefonów */
 // }
 
 
 
 
 @media (min-width: 480px) {
  
 }



 @media (min-width: 576px) {

     .header {
         &__tittle {
             font-size: 1.6rem;
         }

     }

     .review {
         &__tittle {
             font-size: 1.2rem;
         }

         &__text {
             font-size: 1.2rem;
         }

         a {


             img {
                 top: -13px;
                 left: -15px;

             }
         }
     }

     .hero {
         &__text {
             font-size: 1.2rem;

         }

         .fa-phone {
             font-size: 1.2rem;
         }
     }

     .info {


         &__icon {
             font-size: 1.6rem;
         }





         &__header {
             font-size: 1.2rem;

         }
     }


     .about {
         &__title {

             font-size: 1.6rem;

         }

         &__img {
             width: 400px;
         }



         &__list {

             &--item {

                 font-size: 1.3rem;
             }
         }


     }

         .logo {
            height: 100%;
    
             &__img {
                 width: 70px;
                 height: 70px;
    
                 &--toyota {
                     height: 70px;
                 }
    
                 &--nissan {
                    width: 75px;
                     height: 55px;
                 }
    
    
             }
         }
 }


 //--670--//

 @media (min-width: 670px) {
     .about {
         &__title {

             font-size: 2rem;
             padding: .2em .5em;

         }

         &__box {
            flex-direction: row;
             padding: .5em 1em;


         }

                  &__img {
                      width: 300px;
                  }

         &__list {
            padding: 0 .5em;


             &--item {
                 padding: .1em 0;
                 font-size: 1rem;
             }
         }

         i {
             padding: 0 .5em;
         }
     }


              .logo { 
             &__img {

                 &--nissan {
                    width: 80px;
                     height: 55px;
                 } 
             }
         }


                         .service {
                            
            
                             &__tittle {
                                 font-size: 1.4rem;
            
                             }
            
                             &__text {
                                 font-size: 1.2rem;
            
                             }
                         }
     

 }